.Pokedex-cards {
    display: flex;
    justify-content: space-evenly;  /* flexbox property */
    flex-wrap: wrap;  /*its ok to wrap over to the next line */
}

.Pokedex {
    text-align: center;
}

.Pokedex-winner {
    color: green;
}

.Pokedex-loser {
    color: rgb(206, 36, 106);
}